<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ts.eclipse.ide.angular2.cli.angularCLILaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/Angular}"/>
<booleanAttribute key="ts.eclipse.ide.core.EXECUTE_NG_WITH_FILE" value="false"/>
<stringAttribute key="ts.eclipse.ide.core.NG_FILE_PATH" value="C:/Users/Playa Norte/Desktop/Fran/workspace2/Angular/node_modules/.bin"/>
<stringAttribute key="ts.eclipse.ide.core.NODE_FILE_PATH" value="C:/Program Files/nodejs/node.exe"/>
<stringAttribute key="ts.eclipse.ide.core.OPERATION" value="serve"/>
</launchConfiguration>
